.overview {
  display: flex;
  width: 100%;
  height: 100%;
}
.body-content-container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 0rem 0.2rem 0.1rem rgba(162, 162, 162, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40rem;
  min-height: 30rem;
}

.overview {
  color: #000000;
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  font-family: 'Inter';
  line-height: auto;
  outline: none;
}

.rectangle{
  background-color: white;
  height: 18.75rem; /* 170px / 16px = 10.625rem */
  width :98.125rem; /* 1000px / 16px = 62.5rem */
  filter:drop-shadow(0px 0.3125rem 0.3125rem rgba(0,0,0,0.25)); /* 5px / 16px = 0.3125rem */
  border-radius:0.625rem; /* 10px / 16px = 0.625rem */
  position: absolute;
  bottom: 3.125rem; /* 50px / 16px = 3.125rem */
}
.rectangle2{
background-color: #ffffffff;
height: 18.75rem; /* 170px / 16px = 10.625rem */
width: 46.875rem; 
filter:drop-shadow(0px 0.3125rem 0.3125rem rgba(0,0,0,0.25)); /* 5px / 16px = 0.3125rem */
border-radius:0.625rem; /* 10px / 16px = 0.625rem */
position: absolute;
top: 12.5rem; /* 200px / 16px = 12.5rem */
left: 19.375rem; /* 310px / 16px = 19.375rem */
}

.rectangle3{
  background-color: #ffffffff;
  height: 18.75rem; /* 170px / 16px = 10.625rem */
  width: 46.875rem; 
  filter:drop-shadow(0px 0.3125rem 0.3125rem rgba(0,0,0,0.25)); /* 5px / 16px = 0.3125rem */
  border-radius:0.625rem; /* 10px / 16px = 0.625rem */
  position: absolute;
  top: 12.5rem; /* 200px / 16px = 12.5rem */
  right: 3.4375rem; /* 55px / 16px = 3.4375rem */
  }
  .overdue1{
  display: flex;
  color: #000000;
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  font-family: 'Inter';
  line-height: auto;
  outline: none;
  position: absolute;
  top: 10rem; /* 160px / 16px = 10rem */
  left: 19.375rem; /* 310px / 16px = 19.375rem */

    }
  .add{
    color: #444444;
    border: none;
    font-size: 0.75rem; /* 12px / 16px = 0.75rem */
    font-family: 'Inter';
    position: absolute;
    top: 11.25rem; /* 180px / 16px = 11.25rem */
    right: 3.75rem; /* 60px / 16px = 3.75rem */
  }
  .tft{
  display: flex;
  color: #000000;
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-family: 'Inter';
  line-height: auto;
  outline: none;
  position: absolute;
  top: 10rem; /* 160px / 16px = 10rem */
  right:42.5rem; /* 410px / 16px = 25.625rem */
  }
  .projsum{
  display: flex;
  color: #000000;
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-family: 'Inter';
  line-height: auto;
  outline: none;
  position: absolute;
  bottom: 14.375rem; /* 230px / 16px = 14.375rem */
  left: 19.375rem; /* 310px / 16px = 19.375rem */
  }
  .top-nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 14.0625rem; /* 225px / 16px = 14.0625rem */
    right: 6.25rem; /* 100px / 16px = 6.25rem */

  }
  .top-nav2 {
    display: flex;
    color: #585757;
    font-size: 1rem; /* 16px / 16px = 1rem */
    font-family: 'Inter', sans-serif;
    gap: 0.9375rem; /* 15px / 16px = 0.9375rem */
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom:23.438rem; /* 230px / 16px = 14.375rem */
    right: 6.25rem; /* 100px / 16px = 6.25rem */
  }

  .nav-button {
    color: #000000;
    font-size: 0.75rem; /* 12px / 16px = 0.75rem */
    font-family: 'Inter';
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 0.625rem; /* 10px / 16px = 0.625rem */
    position: relative;
  }
  .nav-button:hover {
    background-color: #e0e0e0;
  }
  .selected2 {
    color: white;
    background-color: #087D7D;
    width: 6.875rem; /* 110px / 16px = 6.875rem */
    height: 1.25rem; /* 20px / 16px = 1.25rem */
    border-radius: 0.625rem; /* 10px / 16px = 0.625rem */
  }

  .selected2 {
    border-bottom: 0.1875rem solid #00A8A8; /* 3px / 16px = 0.1875rem */
  }

  .tb {
    width: 100%;
    border-collapse: collapse;
  }

  .scroll {
    width: 45.313rem; /* 450px / 16px = 28.125rem */
    height:21.875rem; /* 150px / 16px = 9.375rem */
    position: absolute;
    top: 12.8125rem; /* 205px / 16px = 12.8125rem */
    left: 20rem; /* 320px / 16px = 20rem */
    overflow-x: auto;
    overflow-y: auto;
  }

  .tb{
    padding: 0.3125rem; /* 5px / 16px = 0.3125rem */
    text-align: center;
    font-size: 0.75rem; /* 12px / 16px = 0.75rem */
    font-family: 'Inter';
    white-space: nowrap;

  }

  .tb {
    background-color: white;
    font-size: 0.75rem; /* 12px / 16px = 0.75rem */
    font-family: 'Inter';

  }
  .tb td{
    border: none;
  }
  .scroll::-webkit-scrollbar-thumb{
    background-color: #00A8A8;
    border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  }
  .scroll::-webkit-scrollbar-track{
    background-color: lightgray;
    border-radius: 0.625rem; /* 10px / 16px = 0.625rem */
  }
  .scroll::-webkit-scrollbar{
    background-color: #00A8A8;
    width: 0.3125rem; /* 5px / 16px = 0.3125rem */
    border-radius: 0.625rem; /* 10px / 16px = 0.625rem */
  }

  .due{
    color: maroon;
  }

  .tb2 {
    width: 100%;
    border-collapse: collapse;
  }

  .scroll2 {
    width: 43.75rem; /* 460px / 16px = 28.75rem */
    height: 9.375rem; /* 150px / 16px = 9.375rem */
    position: absolute;
    top: 13.125rem; /* 210px / 16px = 13.125rem */
    right:5rem; /* 60px / 16px = 3.75rem */
    overflow-x: auto;
    overflow-y: auto;

  }

  th,td {
    padding: 0.25rem; /* 4px / 16px = 0.25rem */
    text-align: center;
    font-size: 0.75rem; /* 12px / 16px = 0.75rem */
    font-family: 'Inter';
    white-space: nowrap;

  }

  th {
    background-color: white;
    border-bottom: 0.0625rem solid black; /* 1px / 16px = 0.0625rem */
    font-size: 0.75rem; /* 12px / 16px = 0.75rem */
    font-family: 'Inter';

  }
  .scroll2::-webkit-scrollbar-thumb{
    background-color: #00A8A8;
    border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  }
  .scroll2::-webkit-scrollbar-track{
    background-color: lightgray;
    border-radius: 0.625rem; /* 10px / 16px = 0.625rem */
  }
  .scroll2::-webkit-scrollbar{
    background-color: #00A8A8;
    width: 0.3125rem; /* 5px / 16px = 0.3125rem */
    border-radius: 0.625rem; /* 10px / 16px = 0.625rem */
  }

  .nav-button2{
    color: #000000;
  }
  .selected3{
    border-bottom: 0.1875rem solid #00A8A8; /* 3px / 16px = 0.1875rem */
  }


#linedashboard{
  width: 100rem; /* 1050px / 16px = 65.625rem */
  height: 0.0625rem; /* 1px / 16px = 0.0625rem */
  background-color:darkgray;
  position: absolute;
  bottom: 33.75rem; /* 265px / 16px = 16.5625rem */
  right: -4.375rem; /* -70px / 16px = -4.375rem */
}
.tasklist{
  position: absolute;
  top: 2.5rem; /* 40px / 16px = 2.5rem */
  text-align: left;
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  font-family: 'Inter';
  color: #000000;
  height:9.375rem; /* 150px / 16px = 9.375rem */
}
.tasklist2{
  color: #000000;
  text-align: left;
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  font-family: 'Inter';
  height: 9.375rem; /* 150px / 16px = 9.375rem */
  position: absolute;
  top: 2.5rem; /* 40px / 16px = 2.5rem */
  left: 0rem;
}
.tasklist3{
  color: #000000;
  text-align: left;
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  font-family: 'Inter';
  height: 9.375rem; /* 150px / 16px = 9.375rem */
  width: 6.25rem; /* 100px / 16px = 6.25rem */
  position: absolute;
  top: 2.5rem; /* 40px / 16px = 2.5rem */
  left: 0rem;
}
.dashtable{
  color: #000000;
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  font-family: 'Inter',sans-serif;
  width: 95rem; /* 990px / 16px = 61.875rem */
  height: 23.75rem; /* 200px / 16px = 12.5rem */
  position: absolute;
  bottom:3.75rem; /* 70px / 16px= 4.375rem */
  left: 20rem; /* 320px / 16px = 20rem */
  max-height: 17.5rem; /* 150px / 16px = 9.375rem */
  overflow-y: auto;
  overflow-x: auto;
  display: block;
  text-align: center;
  padding: 0.625rem; /* 10px / 16px = 0.625rem */
  border: none;

}
.dashtable3 table {
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;

}
.dashtable3 td{
  padding: 0.125rem; /* 2px / 16px = 0.125rem */
  border: none;

}
.dashtable3 th{
  background-color: white;
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */

}

.dashtable3 th:nth-child(1),
.dashtable3 td:nth-child(1) {
  width: 12.5rem; /* 200px / 16px = 12.5rem */
}

.dashtable3 th:nth-child(2),
.dashtable3 td:nth-child(2) {
  width: 12.5rem; /* 200px / 16px = 12.5rem */
  height: 3.125rem; /* 50px / 16px = 3.125rem */
}

.dashtable3 th:nth-child(3),
.dashtable3 td:nth-child(3) {
  width:31.25rem; /* 500px / 16px = 31.25rem */
}

.dashtable3 th:nth-child(4),
.dashtable3 td:nth-child(4) {
  width: 12.5rem; /* 200px / 16px = 12.5rem */
}

.dashtable3 th:nth-child(5),
.dashtable3 td:nth-child(5) {
  width: 10.625rem; /* 170px / 16px = 10.625rem */
}
.dashtable3 th:nth-child(6),
.dashtable3 td:nth-child(6) {
  width: 10.625rem; /* 170px / 16px = 10.625rem */
}
.dashtable3 th:nth-child(7),
.dashtable3 td:nth-child(7) {
  width: 31.25rem; /* 500px / 16px = 31.25rem */
}
.dashtable::-webkit-scrollbar{
  background-color: #00A8A8;
  width: 0.25rem; /* 4px / 16px = 0.25rem */
  height:0.25rem; /* 2px / 16px = 0.125rem */
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
}
.dashtable::-webkit-scrollbar-thumb{
  background-color: #00A8A8;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
}
.dashtable::-webkit-scrollbar-track{
  background-color: darkgray;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */

}



.dashtableinternal2{
  color: #000000;
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  font-family: 'Inter',sans-serif;
  width:93.75rem; /* 990px / 16px = 61.875rem */
  height: 23.75rem; /* 200px / 16px = 12.5rem */
  position: absolute;
  bottom:3.75rem; /* 70px / 16px= 4.375rem */
  left: 21.875rem; /* 320px / 16px = 20rem */
  max-height: 17.5rem; /* 150px / 16px = 9.375rem */
  overflow-y: auto;
  overflow-x: auto;
  display: block;
  text-align: center;
  padding: 0.625rem; /* 10px / 16px = 0.625rem */
  border: none;

}
.dashtableinternal2 table {
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;

}
.dashtableinternal2 td{
  padding: 0.125rem; /* 2px / 16px = 0.125rem */
  border: none;

}
.dashtableinternal2 th{
  background-color: white;
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */

}

.dashtableinternal2 th:nth-child(1),
.dashtableinternal2 td:nth-child(1) {
  width: 12.5rem; /* 200px / 16px = 12.5rem */
}

.dashtableinternal2 th:nth-child(2),
.dashtableinternal2 td:nth-child(2) {
  width: 12.5rem; /* 200px / 16px = 12.5rem */
  height: 3.125rem; /* 50px / 16px = 3.125rem */
}

.dashtableinternal2 th:nth-child(3),
.dashtableinternal2 td:nth-child(3) {
  width:31.25rem; /* 500px / 16px = 31.25rem */
}

.dashtableinternal2 th:nth-child(4),
.dashtableinternal2 td:nth-child(4) {
  width: 12.5rem; /* 200px / 16px = 12.5rem */
}

.dashtableinternal2 th:nth-child(5),
.dashtableinternal2 td:nth-child(5) {
  width: 10.625rem; /* 170px / 16px = 10.625rem */
}
.dashtableinternal2 th:nth-child(6),
.dashtableinternal2 td:nth-child(6) {
  width: 10.625rem; /* 170px / 16px = 10.625rem */
}
.dashtableinternal2 th:nth-child(7),
.dashtableinternal2 td:nth-child(7) {
  width: 31.25rem; /* 500px / 16px = 31.25rem */
}
.dashtableinternal2::-webkit-scrollbar{
  background-color: #00A8A8;
  width: 0.25rem; /* 4px / 16px = 0.25rem */
  height: 0.125rem; /* 2px / 16px = 0.125rem */
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
}
.dashtableinternal2::-webkit-scrollbar-thumb{
  background-color: #00A8A8;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
}
.dashtableinternal2::-webkit-scrollbar-track{
  background-color: darkgray;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */

}


.dashtable5{
  color: black;
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  font-family: 'Inter',sans-serif;
  width: 61.875rem; /* 990px / 16px = 61.875rem */
  height: 25rem; /* 400px / 16px = 25rem */
  position: absolute;
  bottom: 4.375rem; /* 70px / 16px = 4.375rem */
  left: 19.75rem; /* 316px / 16px = 19.75rem */
  overflow-y: auto;
  max-height: 9.375rem; /* 150px / 16px = 9.375rem */
  display: block;
  text-align: center;
  padding: 0.625rem; /* 10px / 16px = 0.625rem */

}
.dashtable5 table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  white-space: nowrap;

}

.dashtable5 td{
  padding: 1.25rem; /* 20px / 16px = 1.25rem */
  border: none;

}
.dashtable5 th{
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
}

.dashtable5 th:nth-child(1),
.dashtable5 td:nth-child(1) {
  width: 18.75rem; /* 300px / 16px = 18.75rem */
}

.dashtable5 th:nth-child(2),
.dashtable5 td:nth-child(2) {
  width: 18.75rem; /* 300px / 16px = 18.75rem */
}

.dashtable5 th:nth-child(3),
.dashtable5 td:nth-child(3) {
  width:18.75rem; /* 300px / 16px = 18.75rem */
}

.dashtable4 th:nth-child(4),
.dashtable4 td:nth-child(4) {
  width: 18.75rem; /* 300px / 16px = 18.75rem */
}

.dashtable5 th:nth-child(5),
.dashtable5 td:nth-child(5) {
  width: 18.75rem; /* 300px / 16px = 18.75rem */
}
.dashtable5::-webkit-scrollbar{
  background-color: #00A8A8;
  width: 0.25rem; /* 4px / 16px = 0.25rem */
  height: 0.0625rem; /* 1px / 16px = 0.0625rem */
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
}
.dashtable5::-webkit-scrollbar-thumb{
  background-color: #00A8A8;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */

}
.dashtable5::-webkit-scrollbar-track{
  background-color: darkgray;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */

}
.AddProject{
color: white;
background-color: #00A8A8;
height: 2.5rem; /* 40px / 16px = 2.5rem */
width: 5.625rem; /* 87px / 16px = 5.4375rem */
font-size: 0.875rem;
font-family: 'Inter'sans-serif;
position: absolute;
top: 6.25rem;
right: 2.5rem;
border: 0.063rem solid white;
border-radius: 0.5rem;
}
.AddProject:hover{
  background-color: darkgray;
  color: black;
}
.addprojectnew{
  color: black;
  font-family: 'Inter'sans-serif;
  font-size: 1.25rem;
  position: absolute;
  top:7.5rem;
  left: 20rem;
}
.projectiddash{
  font-family: 'Inter'sans-serif;
  font-size: 1rem;
  color: #413F3F;
  position: absolute;
  top: 12.5rem;
  left: 20rem;
}
.projectiddash2{
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  color: black;
  background-color: #F9FAFA;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  width: 33.75rem; /* 540px / 16px = 33.75rem */
  height: 1.5rem; /* 24px / 16px = 1.5rem */
  filter:drop-shadow(0px 0.3125rem 0.3125rem rgba(0,0,0,0.25)); /* 5px / 16px = 0.3125rem */
  position: absolute;
  top: 14.375rem;
  left: 20rem;
}
.projectmilestone{
  font-family: 'Inter'sans-serif;
  font-size: 1rem;
  color: #413F3F;
  position: absolute;
  top: 17.188rem;
  left: 20rem;
}
.projectmilestone2{
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  color: black;
  background-color: #F9FAFA;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  width: 33.75rem; /* 540px / 16px = 33.75rem */
  height: 1.5rem; /* 24px / 16px = 1.5rem */
  filter:drop-shadow(0px 0.3125rem 0.3125rem rgba(0,0,0,0.25)); /* 5px / 16px = 0.3125rem */
  position: absolute;
  top: 18.75rem;
  left: 20rem;
}
.startdatedash{
  font-family: 'Inter'sans-serif;
  font-size: 1rem;
  color: #413F3F;
  position: absolute;
  top: 21.875rem;
  left: 20rem;
}
.startdatedash2{
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  color: black;
  background-color: #F9FAFA;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  width: 33.75rem; /* 540px / 16px = 33.75rem */
  height: 1.5rem; /* 24px / 16px = 1.5rem */
  filter:drop-shadow(0px 0.3125rem 0.3125rem rgba(0,0,0,0.25)); /* 5px / 16px = 0.3125rem */
  position: absolute;
  top: 23.438rem;
  left: 20rem;
}

.startdatedashint{
  font-family: 'Inter'sans-serif;
  font-size: 1rem;
  color: #413F3F;
  position: absolute;
  top: 12.5rem;
  left: 20rem;
}
.startdatedashint2{
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  color: black;
  background-color: #F9FAFA;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  width: 33.75rem; /* 540px / 16px = 33.75rem */
  height: 1.5rem; /* 24px / 16px = 1.5rem */
  filter:drop-shadow(0px 0.3125rem 0.3125rem rgba(0,0,0,0.25)); /* 5px / 16px = 0.3125rem */
  position: absolute;
  top: 12.5rem;
  left: 20rem;
}

.estenddatedash{
  font-family: 'Inter'sans-serif;
  font-size: 1rem;
  color: #413F3F;
  position: absolute;
  top: 31.875rem;
  left: 20rem;
}
.estenddatedash2{
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  color: black;
  background-color: #F9FAFA;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  width: 33.75rem; /* 540px / 16px = 33.75rem */
  height: 1.5rem; /* 24px / 16px = 1.5rem */
  filter:drop-shadow(0px 0.3125rem 0.3125rem rgba(0,0,0,0.25)); /* 5px / 16px = 0.3125rem */
  position: absolute;
  top: 33.125rem;
  left: 20rem;
}
.projectwarrantyiddash{
  font-family: 'Inter'sans-serif;
  font-size: 1rem;
  color: #413F3F;
  position: absolute;
  top: 26.875rem;
  left: 20rem;
}
.projectwarrantyiddash2{
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  color: black;
  background-color: #F9FAFA;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  width: 33.75rem; /* 540px / 16px = 33.75rem */
  height: 1.5rem; /* 24px / 16px = 1.5rem */
  filter:drop-shadow(0px 0.3125rem 0.3125rem rgba(0,0,0,0.25)); /* 5px / 16px = 0.3125rem */
  position: absolute;
  top: 28.75rem;
  left: 20rem;
}
.projectissuedash{
  font-family: 'Inter'sans-serif;
  font-size: 1rem;
  color: #413F3F;
  position: absolute;
  top: 12.5rem;
  right: 24.375rem ;
}
.projectissuedash2{
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  color: black;
  background-color: #F9FAFA;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  width: 27.5rem; /* 540px / 16px = 33.75rem */
  height: 12.5rem;
  filter:drop-shadow(0px 0.3125rem 0.3125rem rgba(0,0,0,0.25)); /* 5px / 16px = 0.3125rem */
  position: absolute;
  top: 14.375rem;
  right: 3.125rem;
}
.Savedashboard{
    color: white ;
    background-color: #00A8A8;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    border-radius: 8px;
    text-align: center;
    width: 110px;
    height: 36px;
    box-shadow: 1px 1px 0px solid lightgray;
    position: absolute;
     bottom: 3.125rem;
     right: 3.125rem;
}
.Savedashboard:hover{
  background-color: darkgray;
  color: white;
}
.cancel{
  color: black;
  background-color: #E8E8E8;
  font-size: 16px;
  font-family: 'Inter',sans-serif;
  border-radius: 8px;
  text-align: center;
  width: 110px;
  height: 36px;
  box-shadow: 1px 1px 0px solid lightgray;
  position: absolute;
  right: 11.25rem;
  bottom: 3.125rem;
}
.cancel:hover{
  background-color: darkgray;
  color: black;
}
.projectracking{
  color: black;
  font-family: 'Inter'sans-serif;
  font-size: 0.875rem;
  position: absolute;
  top: 9.375rem;
  left: 20rem;
}

.addprojectnav{
  position: absolute;
  top: 9.375rem;

}

.projectiddashint{
  font-family: 'Inter'sans-serif;
  font-size: 1rem;
  color: #413F3F;
  position: absolute;
  top: 12.5rem;
  left: 20rem;
}
.projectiddashint2{
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  color: black;
  background-color: #F9FAFA;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  width: 33.75rem; /* 540px / 16px = 33.75rem */
  height: 1.5rem; /* 24px / 16px = 1.5rem */
  filter:drop-shadow(0px 0.3125rem 0.3125rem rgba(0,0,0,0.25)); /* 5px / 16px = 0.3125rem */
  position: absolute;
  top: 14.375rem;
  left: 20rem;
}

.startdatedashint{
  font-family: 'Inter'sans-serif;
  font-size: 1rem;
  color: #413F3F;
  position: absolute;
  top: 17.188rem;
  left: 20rem;
}
.startdatedashint2{
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  color: black;
  background-color: #F9FAFA;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  width: 33.75rem; /* 540px / 16px = 33.75rem */
  height: 1.5rem; /* 24px / 16px = 1.5rem */
  filter:drop-shadow(0px 0.3125rem 0.3125rem rgba(0,0,0,0.25)); /* 5px / 16px = 0.3125rem */
  position: absolute;
  top: 18.75rem;
  left: 20rem;
}
.estenddatedashint{
  font-family: 'Inter'sans-serif;
  font-size: 1rem;
  color: #413F3F;
  position: absolute;
  top: 21.875rem;
  left: 20rem;
}
.estenddatedashint2{
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  color: black;
  background-color: #F9FAFA;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  width: 33.75rem; /* 540px / 16px = 33.75rem */
  height: 1.5rem; /* 24px / 16px = 1.5rem */
  filter:drop-shadow(0px 0.3125rem 0.3125rem rgba(0,0,0,0.25)); /* 5px / 16px = 0.3125rem */
  position: absolute;
  top: 23.438rem;
  left: 20rem;
}